<%- include('includes/head')%>
<%- include('includes/nav')%>




<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Total de Vendas</h5>
                  <p class="card-text">R$ 10.000,00</p>
                  <a href="#" class="btn btn-primary">Ver mais</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Vendas do Mês</h5>
                  <p class="card-text">R$ 2.500,00</p>
                  <a href="#" class="btn btn-primary">Ver mais</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Média de Vendas Diárias</h5>
                  <p class="card-text">R$ 350,00</p>
                  <a href="#" class="btn btn-primary">Ver mais</a>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Produtos Mais Vendidos</h5>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th scope="col">#</th>
                              <th scope="col">Produto</th>
                              <th scope="col">Quantidade Vendida</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th scope="row"></th>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

<%- include('includes/footer')%>